$green: #DBF4A7;
$purple: #7D84B2; 
$grey: #D9D9D9;
$darkgreen: #94a573; 
$brown: #4B2900; 
$background: #F9F9ED; 
$light: #F5F5F5;

.side-bar{
    display: grid;
    text-align: justify;
}

.Inicio-sesion{
    display: flex;
    padding-left: 50px;
    padding-bottom: 40px;
    cursor: pointer;
    font-family: 'Chivo', sans-serif;
}

.List h2{
    background-color: #f0f0f0;
    border-radius: 7px;
    text-align: center;
    font-size: small;
    font-family: 'Chivo', sans-serif;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
}

.List p{
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
    font-family: 'Chivo', sans-serif;
}

.List .bar-low{
    text-align: center;
    font-size:small;
    font-family: 'Chivo', sans-serif;
    margin-top: 350px
}