$green: #DBF4A7;
$purple: #7D84B2; 
$grey: #D9D9D9;
$darkgreen: #94a573; 
$brown: #4B2900; 
$background: #F9F9ED; 
$light: #F5F5F5;

.Container-nav{
    display: flex;
    padding-bottom: 50px;
}

.icon-list{
    padding-left: 20px;
    padding-top: 50px;
    cursor: pointer;
}

.Container-nav img{
    padding-left: 20px;
    padding-top: 30px;
    cursor: pointer;
    width: 70px;
}

.icon-gear{
    padding-left: 900px;
    padding-top: 50px;
    cursor: pointer;
}

.Container-nav h2{
    font-family: 'Chivo', sans-serif;
    margin-top: 40px;
    margin-left: 10px;
    font-size: small;
    background-color: $green;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
}

.icon-user{
    margin-top: 40px;
    margin-left: 20px;
    background-color: #e6e6e6;
    padding: 10px 14px 10px 14px;
    border-radius: 100%;
}