/*  font-family: 'Archivo Black', sans-serif;
    font-family: 'Arimo', sans-serif;
    font-family: 'Bungee', cursive;
    font-family: 'Capriola', sans-serif; */


:root {
    --green: #DBF4A7;
    --purple: #7D84B2; 
    --grey: #D9D9D9;
    --darkgreen: #94a573; 
    --brown: #4B2900; 
    --background: #F9F9ED; 
    --light: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Arimo', sans-serif;
    color: black; 
    background-color: var(--background);
   
    
    
}

a {
    text-decoration: none;
    color: var(--light)
}

header, footer {
    display: flex;
    justify-content: space-between;
    
}

.links a {
    padding-right: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

nav a {
    padding-right: 15px;
}
    

nav a:hover{
    color: #6a1ba2;
}

.buttom-blog {
    background-color: var(--green);
    padding: 13px 5px 12px 20px; 
}

p {
    font-size: 1em;
}


/* Header */
header {
    width: 100%;
    height: 50px;
    color: black;
    background-color: var(--background);
    display: flex;
    align-items: center;
    column-gap: 0.94rem;
    padding: 0.8rem;
    text-align: center;
}

.header-img {
    height: 2.8rem;
    margin-left: 0.5rem;
} 

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--dark); 
} 

nav li a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 1024px) {
    header {
        text-align: left;
    }
    p {
        font-size: 1.3em;
    }
}


/*Purple text*/

.purple-block {
   
    height: 300px;
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.content-purple-block {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 24px;
    line-height: 1.4;
    color: var(--light);
}

.buttom-purple {
    background-color: var(--grey);
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    margin-top: 10px;
    cursor: pointer;
}

button {
    font: inherit;
}

.updates, .tools, .join {
    font-family: 'Archivo Black', sans-serif;
    color: var(--brown);
    margin: 25px;
}

/* Carousel */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}

.carousel-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    background-color: var(--purple);
    color: var(--light);
    font-family: 'Arimo', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

@media (max-width: 768px) {
    .carousel {
        flex-direction: column;
    }

    .carousel-card {
        flex: 1; 
        margin-right: 0;
        margin-bottom: 20px; 
    }
}

/* Green text */

.green-block {
    height: 400px;
    color: var(--light);
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 30px;
   
}

.content-green-block {
    text-align: center;
    line-height: 1.4;
    color: #3D2D1B;
    font-family:'Bungee', cursive;
}

.buttom-green {
    background-color: var(--darkgreen);
    color: var(--light);
    font-family: 'Capriola', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
}

.buttom-green:hover,
.buttom-green:active,
.buttom-green:focus {
    background-color: #6a1ba2;
}

.buttom-green:visited {
    color: var(--light);
}
@media (max-width: 700px) {
    
    header {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 3px;;
    }
    .purple-block {
        margin-top: 65px;
        padding-top: 20px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .content-purple-block, .content-green-block {
    font-size: 15px;
    align-items: center; 
    margin: 0; 
    }
    .buttom-purple, .buttom-green {
    font-size: 14px; 
    }
    .footer ul {
        align-items: center;
        flex-direction: column;

    }
}

/* Footer */

.footer-content{
    width: 100%;
    background-color: var(--grey);
    font-family: 'Archivo Black', sans-serif;
    row-gap: 1rem;
    padding: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: black; 
} 

footer li a {
    text-decoration: none;
    color: black;
}


  
  